<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EsportHub_APP"
        tools:targetApi="31">
        <activity
            android:name=".vistas.equipos.Pantalla_CrearEquipo"
            android:exported="false" />
        <activity
            android:name=".vistas.jugador.Pantalla_VerMisEquipos"
            android:exported="false" />
        <activity
            android:name=".vistas.jugador.Pantalla_VerMisTorneos"
            android:exported="false" />
        <activity
            android:name=".vistas.home.Pantalla_InicioJugadores"
            android:exported="false" />
        <activity
            android:name=".vistas.home.Pantalla_InicioAdministradores"
            android:exported="false" />
        <activity
            android:name=".vistas.notificaciones.Pantalla_Notificaciones_Jugador"
            android:exported="false" />
        <activity
            android:name=".vistas.equipos.Pantalla_EquiposDisponibles"
            android:exported="false" />
        <activity
            android:name=".vistas.torneos.Pantalla_DetallesTorneo"
            android:exported="false" />
        <activity
            android:name=".vistas.torneos.Pantalla_TorneosDisponibles"
            android:exported="false" />
        <activity
            android:name=".vistas.jugador.Pantalla_EditarPerfil"
            android:exported="false" />
        <activity
            android:name=".vistas.jugador.Pantalla_VerPerfil"
            android:exported="false" />
        <activity
            android:name=".vistas.auth.Pantalla_Registro"
            android:exported="false" />
        <activity
            android:name=".vistas.auth.Pantalla_InicioSesion"
            android:exported="false" />
        <activity
            android:name=".vistas.bienvenida.Pantalla_Bienvenida"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>